body{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
}
a:hover{
    text-decoration: none;
}
.navbar.page-header.navbar-static-top{
    margin: 0;
}
.navbar-toggle .icon-bar {
    background-color: #555555;
}
.navbar-toggle{
    border-color: #555;
}
header.container-fluid{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition:box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1)
}

.copyright{
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header_login{
    margin: 10px 15px 0 0;
    background-color: #4285f4;
}
.header_login span{
    width: 4rem;
    height: 2.5rem;
    position: relative;
    vertical-align: middle;
}
li.header_login span a {
    color: white;
    line-height: 2.5rem;
    text-align: center;
    padding-left: 5px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}